@{
    ViewData["Title"] = "Sign up Success";
}
<h2>@ViewData["Title"]</h2>

<h3>You have successfully signed up. Please follow the <a href="https://docs.microsoft.com/azure/architecture/multitenant-identity/run-the-app#assign-application-roles">documentation to assign application roles</a>.</h3>
