@model SurveyDTO
@{
    ViewData["Title"] = "Publish Survey";
}
<h2>@ViewData["Title"]</h2>

<h3 class="alert-danger">Are you sure that you want to publish this survey?</h3>

<partial name="_ValidationPartial" />

<form asp-action="Publish" method="POST" asp-route-id="@Model.Id">
    <partial name="_ConfirmPartial" />
</form>

<partial name="_SurveyDetailPartial" model="Model"/>
